extends base.pug    
//-extends base.pug is home.pug will run by extending the base.pug bec we want the every contetn in different differetn page.
//- we have given a javascript.so, for block script we write the name of file where we written a script.
block scripts 
   script(src='/static/index.js') 
//-you also have to take care of single cots and double cots.
     

block style 
   style 
    include ../static/style.css 

block content  
      section#introsection  
        | Welcome to My Dance Academy 
        div.small Live Learn Dance Repeat follow your passion 
  
      section#Missionsection 
       h2  Our Mission  
       div.card
           h3  Dance perfection 
           div.card-box 
             div.card-img 
                 img(src="/static/img/pic 3.jpg")
             div.card-content
                 p This is the best academy of india. 
       div.card
           h3  Dance the way you like
           div.card-box 
             div.card-img 
                 img(src="/static/img/pic.jpg")
             div.card-content
                 p This is the best academy of india. 
       div.card
           h3  Expert teaching
           div.card-box 
             div.card-img 
                 img(src="/static/img/pic 1.jpg")
             div.card-content
                 p This is the best academy of india. 
           
      section#Sponserssection 
       h2 Our Sponsers 
        div#sponsers 
            img(src="/static/img/logo1.jpg", alt="sponser image", class="spimage")
            img(src="/static/img/logo2.jpg", alt="sponser image", class="spimage")
            img(src="/static/img/logo3.jpg", alt="sponser image", class="spimage")
            img(src="/static/img/logo4.jpg", alt="sponser image", class="spimage")
